html{
    font-family: 'Roboto',BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.book-card{
    cursor: pointer;
}

.book-card .card.horizontal .card-image img {
    max-height: 190px;

    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

.card-content{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.book-title-text{
    font-weight: 500;
}

.book-author-text{
    font-style: italic;
}

/*  details view */

.book-details-container{
    color: orange;
    background-color: tomato;

    position: absolute;
    z-index: 10;
    top: 10%;
    width: 100%;
    left: 0%;

    -webkit-transition: position 1s; /* Safari */
    transition: position 1s;
}


.book-details-container .card.horizontal .card-image img {
     width: 40vw;
     max-width: 250px;
     max-height: unset;

     left: 15%;
     top: -15%;
 }

@media only screen and (min-width: 992px) {
    .book-details-container{
        width: 90%;
        left: 5%;
    }

}