.content {
    .book-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;

        .row {
            padding: 10px;
        }
    }

    .page-selector {
        text-align: center;
    }

    .pagination {
        li.active {
            background-color: var(--darkBlue);
            border-radius: 5px;
        }
    }
}
