.dropdown-custom {

    span {
        color: var(--black) !important;
        font-size: 14px;
    }

    .selected {
        padding: 5px;
        border-radius: 5px;
        width: 100%;


        i {
            color: var(--grey-1);
            position: absolute;
            right: 0;
        }
    }

    ul {
        border-radius: 5px;
        li {
            line-height: inherit;
            min-height: inherit;

            span{
                padding: 5px;
                line-height: inherit;
                font-size: 14px;
            }
        }
    }
}
