.profile-card {

    padding: 10px 15px;

    .card {
        border-radius: 5px;
        box-shadow: unset;

        .card-content {
            padding: 10px;
        }


        .card-action {
            padding: 10px;
        }
    }

    img {
        border-radius: 10%;
        width: 40px;
    }

    .user-name {
        color: var(--gold-primary);
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
        padding-left: 10px;
    }

    .status-row {
        justify-content: center;

        .icon {
            margin-right: 10px;
            font-size: 20px;
            color: var(--grey-1);
        }

        span {
            font-family: "Open Sans";
            font-size: 12px;
            text-align: left;
        }
    }

    .card-action {
        text-align: center;

        .button-wrapper {
            margin-top: 10px;

            button {
                width: 100%;
            }
        }
    }

    &__button-container {
        width: 50%;
        display: inline-block;
        padding: 0 5px;
    }
}
