:root {
    --gold-primary: #BB8F52;
    --gold-accent: rgba(201, 170, 136, 30);

    --white: #ffffff;
    --black: #333333;

    --red: #db7093;

    --blue: #D0DBEA;
    --darkBlue: #365577;

    --lightBlue: #C7E8F5;
    --lightBlue-accent: #A1B7D6;

    --lilac: #E4E2F2;
    --lilac-accent:#A6A1D6;

    --green: #E2F2E4;
    --green-accent: #A1D6A6;

    --grey-1: #939393;
    --grey-2: #E9E9E9;
    --grey-3: #F8F8F8;
}