:root {
    --gold-primary: #BB8F52;
    --gold-accent: rgba(201, 170, 136, 30);

    --blue-primary: #D0DBEA;

    --white: #ffffff;
    --black: #333333;

    --red: #db7093;
    --darkBlue: #365577;

    --grey-bg-1: #E9E9E9;
    --grey-bg-2: #f9f9f9;
}